{
    "extends": "airbnb-base",
    "rules": {
      "no-underscore-dangle": ["error", { "allow": ["_id"] }],
      "quotes": [0, "double"],
      "no-console": ["error", { "allow": ["log"] }]
    }
  }